*{
    padding: 0;
    margin: 0;
}

table{
    border-collapse: collapse;
    margin: 10px auto;
}
th,td{
    padding: 2px 6px;
    border: 1px solid black;
    text-align: center;
}
caption{
    font-size: large;
}
input{
    height: 20px;
}
button{
    height: 25px;
    width: 50px;
}